.closing {
  padding: 103px 0 104px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: var(--base-bg-secondary);
}

.closing__content {
  text-align: center;
}

.closing__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: -0.02em;
  color: var(--base-text-primary);
  width: 920px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}

.closing__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--base-text-secondary);
  max-width: 826px;
  margin: 0 auto;
  margin-bottom: 61px;
}

.closing__button {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 43px;
}

.closing__line {
  width: 1110px;
  height: 2px;
  background: var(--base-boarder);
  margin-bottom: 50px;
}

.closing__partners {
  max-width: 942px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.closing__partners img {
  width: auto;
  height: auto;
  object-fit: contain;
}
