.feature {
  width: 255px;
}

.feature__ico {
  margin-bottom: 16px;
}

.feature__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-primary);
  margin-bottom: 7px;
}

.feature__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: var(--base-text-secondary);
}
