.header {
  display: flex;
  padding: 21px 0 20.25px;
}

.header__logo {
  margin-right: 53px;
  height: 38px;
}

.header__nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header__button {
  display: flex;
  align-items: center;
}

.header__menu-button {
  display: none;
  height: 39px;
  width: 39px;
  margin-left: auto;
}

@media (width <= 1030px) {
  .header__nav {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__menu-button {
    display: block;
  }
}
