.profile {
  display: flex;
  justify-content: space-between;
  width: 273px;
}

.profile__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 0 19px;
}

.profile__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: -0.02em;
  color: #000;
}

.profile__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: -0.02em;
  color: #000;
}
