.tutorial {
  margin-top: 88px;
  padding: 100px 0;
}

.tutorial__content {
  display: flex;
  gap: 164px;
}

.tutorial__store {
  border-radius: 3px;
  position: relative;
  max-width: 400px;
  max-height: 500px;
  height: 100%;
  width: 100%;

  /* background-image: url('src/images/photo.jpg');
  padding: 409px 175px 31px 29px; */
}

.tutorial__photo {
  max-width: 400px;
  height: auto;
}

.tutorial__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-on-dark);
  max-width: 196px;
  width: 100%;
  position: absolute;
  left: 29px;
  bottom: 31px;
}

.tutorial__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 635px;
  width: 100%;
}

.tutorial__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: -0.02em;
  color: var(--base-text-primary);
}

.tutorial__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-secondary);
}
