.tutorial {
  margin-top: 88px;
  padding: 100px 0;
}

.tutorial__content {
  display: flex;
  gap: 164px;
}

.tutorial__store {
  border-radius: 3px;
  background-image: url('src/images/photo.jpg');
  padding: 409px 175px 31px 29px;
}

.tutorial__descr {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-on-dark);
  width: 196px;
}

.tutorial__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.tutorial__title {
  font-weight: 700;
  font-size: 52px;
  line-height: 119%;
  letter-spacing: -0.02em;
  color: var(--base-text-primary);
}

.tutorial__subtitle {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.02em;
  color: var(--base-text-secondary);
}
